<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.megvii.mapapi.mapper.PointMapper">
    <select id="selectPointsFromXy" resultType="com.megvii.mapapi.entity.PointEntity">

    </select>
</mapper>